ion-item:hover {
    --background: #5cffa8 !important;
    --color: var(--ion-color-primary)
}

ion-item {
    --padding-start: 20px
}

ion-item::part(detail-icon) {
    color: #ff00ff;
    opacity: 1;
}